
.container {
  display: flex;
  justify-content: center;
}

.passwordSize {
  display: flex;
  justify-content: center;
  div {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    :hover {
      padding: 8px 20px 8px 20px;
    }
  }
}

.condition {
  margin: 5px;
}

.helpText {
  background-color: lightgrey;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.btn-confirm {
  padding: 5px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  border: 2px solid lightgrey;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    padding: 8px;
  }
}