
.container {
  display: flex;
  justify-content: center;
}

.passwordSize {
  display: flex;
  justify-content: center;
  .btn-size {
    border: 1px solid black;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover, &.active {
      background-color: darkgrey;
      color: white;
    }
  }
}

.condition {
  margin: 5px;
}

.left-section {
  min-width: 400px;
}

.helpText {
  background-color: lightgrey;
}

.btnContainer {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.btn-confirm {
  width: 120px;
  padding: 5px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  border: 2px solid lightgrey;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    padding: 8px;
  }
}

.final-result {
  display: flex;
  justify-content: center;
}

.btn-copy {
  margin: 15px 2px 0 2px;
  width: 80px;
  height: 25px;
  padding: 5px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid lightgrey;
  cursor: pointer;
  background-color: rgb(0,123,255);
  color: white;

  &:hover {
    background-color: rgb(0, 110, 255);
    color: white;
  }
}

#password {
  min-width: 350px;
  font-size: 22px;
}

.errorMSG {
  color: red;
  font-size: 22px;
}

input {
  height: 18px;
  width: 18px;
  margin: 5px 10px 3px 10px;
}